<% if table.filters.any? %>
  <%= form_tag '', method: :get do %>
    <% table.filters.each do |filter| %>
      <%= filter.render %>
    <% end %>

    <%= submit_tag('Filter') %>
  <% end %>
<% end %>

<% if defined? ::Kaminari %>
  <%= paginate(table.rows) %>
<% elsif defined? ::WillPaginate %>
  <%= will_paginate(table.rows) %>
<% end %>

<table<%= raw table.attributes %>>
  <thead>
    <tr>
      <% table.columns.each do |column| %>
        <%= tablificate_header_tag column %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table.rows.each do |row| %>
      <%= tablificate_row_tag row, table.columns %>
    <% end %>
  </tbody>
</table>
