<% if defined? ::Kaminari %>
  <%= paginate(table.rows) %>
<% elsif defined? ::WillPaginate %>
  <%= will_paginate(table.rows) %>
<% end %>

<table border="1">
  <thead>
    <tr>
      <% table.columns.each do |column| %>
        <th>
          <%= column.header %>
          <% if column.sortable? %>
            <%= link_to 'A', url_for(params.merge(sort: column.label.to_s, dir: 'A')) %>
            <%= link_to 'D', url_for(params.merge(sort: column.label.to_s, dir: 'D')) %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table.rows.each do |row| %>
      <tr>
        <% table.columns.each do |column| %>
          <td><%= column.value(row) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
