<% if table.filters.any? %>
  <%= form_tag '', method: :get do %>
    <% table.filters.each do |filter| %>
      <%= filter.render %>
    <% end %>

    <%= submit_tag('Filter') %>
  <% end %>
<% end %>

<% if defined? ::Kaminari %>
  <%= paginate(table.rows) %>
<% elsif defined? ::WillPaginate %>
  <%= will_paginate(table.rows) %>
<% end %>

<table border="1">
  <thead>
    <tr>
      <% table.columns.each do |column| %>
        <%= column.render %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table.rows.each do |row| %>
      <tr>
        <% table.columns.each do |column| %>
          <td><%= column.value(row) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
